#location-form {
    font-family: 'Montserrat', sans-serif;
    height: 40px;
    width: 200px;
    padding-left: 10px;
    margin-right: 10px;
    background-color: transparent;
    border: 1px solid $primary_color;
}

optgroup { color: $text_color;}

select {color: $primary_color;}