header a {
    text-decoration: none;
    color: white;
}

.title {
    margin: 0;
    font-family: $font-2;
    font-size: 29px;
}

.logo {
    display: flex;
    align-items: center;
    &__img {
    height: 65px;
    }
}