header {
    position: absolute;
    height: 150px;
    width: 100%;
    z-index: 3;
    .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 90px;
    border-bottom: 1px solid $primary_color;
    background-color: transparent;
    }
}

