.popular-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 70px auto;  
}

.popular-section__title {
    font-size: 37px;
    font-family: "Raleway", serif; 
    padding-bottom: 30px;
    position: relative;
    color: rgb(29, 29, 29);
    strong {color: rgb(29, 180, 226);}
    &::before {
        content: "";
        position: absolute;
        width: 30%;
        height: 1px;
        bottom: 0;
        left: 35%;
        border-bottom: 1px solid rgb(168, 168, 168);
    }
} 

.popular-section .text {
    color: black;
    width: 60%;
    margin: 60px auto 50px;
    text-align: center;
}

