@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

$font-1: "Montserrat", sans-serif;
$font-2: "Raleway", sans-serif;

$primary_color :white;
$darken_primary_color : rgba(255, 255, 255, 0.856);  
$secondary_color : rgb(29, 180, 226);
$text_color : black; 
$color_overlay : rgba(0, 0, 0, 0.184);

body {
    margin: 0;
    padding: 0;
    font-family: $font-1;
    color: $primary_color;
}

h1, h2, h3, h4, p, button {
    margin: 0;
}