.nav {
    display: flex;
    align-items: center;
    gap: 50px;
    &__link {
        color: $darken_primary_color;
        transition: 0.3s;
        &:hover {
            color: $primary_color;
        }
        &--active {
            color: $primary_color;
            font-weight: bold;
        }
    }
}

.link {
    list-style: none;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer; 
}